@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

body {
    margin: 0px;
    color: var(--color);
    background: var(--background);
}

body.dark {
    --color: rgb(255, 255, 255);
    --background: rgb(0, 0, 0);
}

body.light {
    --color: #000000;
    --background: rgb(255, 255, 255);
}

::-moz-selection {
    color: #ffffff;
    background: #2200ff;
}

::selection {
    color: #ffffff;
    background: #0901fc;
}

nav{
    display: flex;
    justify-content: space-between;
    background: #161b22;
    padding: 12px;
}

.nav{
    display: flex;
}

.navAlign{
    display: flex;
    margin-left: 1rem;
    margin-top: 0.2rem;
}

.navAlign li{
    margin: 0.5rem;
    margin-bottom: 0px;
    margin-top: 0.2rem;
}

.navLink{
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    color: #ffffff;
    font-weight: 600;
    transition-delay: 0.1s;
    transition-duration: 0.4s;
}

.navLink:hover{
    color: rgb(132, 138, 144);
}

.navIcon{
    border-radius: 50%;
    width: 36px;
    margin-left: 1.2rem;
}

.navInput{
    background: #0d1117;
    color: #ffffff;
    border: 0px;
    font-size: 0.9rem;
    padding: 0.1rem;
    width: 15rem;
    height: 32px;
}

.navInput:focus{
    outline: none;
}

.search::placeholder{
    color: #ffffff;
}

.navButton{
    background: #0d1117;
    border: 2px solid #2b3138;
    color: #ffffff;
    font-size: 0.8rem;
    border-radius: 6px;
    padding-right: 0.4rem;
    padding-left: 0.4rem;
}

.search{
    background: #0d1117;
    border: 2px solid #2b3138;
    color: #ffffff;
    /* padding: 0.1rem; */
    border-radius: 10px;
    padding-left: 0.5rem;
    padding-right: 0.3rem;
    margin-left: 1.2rem;
}

.notifications{
    background: none;
    border: none;
    font-size: 1.2rem;
    color: #ffffff;
}

.btn:focus, .btn:active {
    outline: none;
}

.main-flex {
    display: flex;
    justify-content: space-between;
    height: 100%;
    /* padding: 15px; */
    gap: 5px;

}

.main-flex>div {
    border-radius: 5px;
    padding: 8px;
}

.item1 {
    background-color: #0d1117;
    /* overflow: scroll; */
    height: 100vh;
    flex-grow: 0.03;
    font-size: 0.9rem;
}
.item2 {
    flex-grow: 2;
    margin: 2rem;
}
.item3 {
    flex-grow: 0.1;
}

.repo img{
    border-radius: 50%;
    width: 16px;
    margin: 0.5rem;
}

.repo a{
    text-decoration: none;
    color: #e0e3e7;
}

.repo a:hoveR{
    text-decoration: underline;
    color: #dadee2;
}

.repo_header{
    margin-right: 2rem;
    margin-left: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin: 0.5rem; */
}

.repo_header p{
    font-weight: 600;
    color: #e2e5e8;
    margin-top: 1.2rem;
}

.new_repo{
    font-size: 0.9rem;
    padding: 0.3em;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 5rem;
}

.repo-search {
    background: #0d1117;
    border: 2px solid #2b3138;
    color: #ffffff;
    padding: 0.1rem;
    border-radius: 4px;
    padding-left: 0.5rem;
    padding-right: 0.3rem;
    margin-left: 1.8rem;
    width: 17.6rem;
}

.repo-search:focus{
    outline: none;
}

.Timeline {
    display: flex;
    margin-left: 12px;
    margin-right: 1.2rem;
    padding: var(--primer-stack-padding-normal, 6px) 0;
    position: relative;
}

.Timeline::before {
    background-color: #30363d;
    bottom: 0;
    content: "";
    display: block;
    left: -12px;
    position: absolute;
    top: 0;
    width: 1px;
}

.recent{
    margin-left: 1.2rem;
}

.recent::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    right: 103%;
    background-color: white;
    border: 4px solid #30363d;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.timeAgo{
    font-size: 0.6rem;
}

.recent a{
    margin: 0px;
    text-decoration: none;
    color: #e0e3e7;
    margin: 0px;
}

.recent a:hover{
    text-decoration: underline;
    color: #dadee2;
}

.style-div{
    padding: 1.2rem;
}

.div-card {
    background-color: #0d1117;
    border-radius: 6px;
    border: 1px solid #2b3138;
    padding: 1rem;
}

.title {
    font-family: "Archivo Black", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 12px;
    font-size: 6rem;
}

.sub_title {
    font-size: 1.8rem;
    font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.sub_title span {
    border: 2px solid #000;
    padding: 12px;
}

.sub_title a{
    text-decoration: none;
    padding: 12px;
    color: #000;
    border: 2px solid #000;
}